* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.logo {
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;

}

.nav-logo {
    height: 50px;
    width: 100px;

}

.border {
    border: 1.8px solid transparent;
}

.border:hover {
    border: 1.8px solid white;
    border-radius: 6px;
}

/** box2 **/
.one {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.two {
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon {
    display: flex;
    align-items: centre;

}

.nav-adress {
    margin-left: 4px;
}

/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 40px;
    background-color: pink;
    border-radius: 4px;

}

.nav-search:hover {
    border: 2px solid #febd68;
}

.search-slect {
    background-color: #f3f3f3;
    width: 100px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    height: 88%;
}

.search-input {
    width: 100%;
    height: 88%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    height: 88%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/** box4 **/

.uk {
    width: 25px;
}

.lang {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;

}

.search-slectt {
    border-radius: 4px;
    margin: 5px;
    font-weight: bold;
    color: white;
    background-color: #0f1111;
    border: none;

}

/** box-5 **/

span {
    font-size: 0.8rem;
}

.nav-2 {
    font-size: 0.9rem;
    font-weight: 700;
}

/** box-6 **/

.nav-cart i {
    font-size: 28px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart:hover {
    border: 1px solid;
    padding: 7px;

}

/** pannel **/

.pannel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-op p {
    display: inline;
    margin-left: 15px;
}

.pannel-op {
    width: 70%;
    font-size: 0.85rem;
}

.pannel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/** hero **/

.hero-sec {
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-mess {
    background-color: white;
    color: black;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-mess a {
    color: #007185;
}


/** box **/

.shop-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;


}

.shop-sec a {
    text-decoration: none;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border-radius: 10px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-con {
    margin-left: 1rem;
    margin-right: 1rem;
}


/** footer **/

.foot-pannel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1px;
}

.foot-pannel1 a {
    color: white;
    text-decoration: none;
    

}

.foot-pannel2 {
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
   

}

.foot-pannel2 a {
    color: #dddddd;
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    text-decoration: none;
}

ul {
    margin-top: 30px;
}

.foot-pannel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
    background-size: cover;
}

.foot-pannel4 {
    background-color: #0f1111;
    color: white;
   height: 80px;

}

.pages {
    font-size: 0.7rem;
text-align: center;
padding-top: 25px;
}

.copyright {
    padding-top: 5px;
    font-size: 0.7rem;
    text-align: center;
}

.pages a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

span {
    font-size: 13px;
}

span:hover {
color: chartreuse;
font-size: 18px;
border:2px solid white ;
border-radius: 4px;

}